$sidebar-collapsed-width: 64px !default;
$sidebar-width: 260px !default;

$sidebar-spacing: 15px !default;
$sidebar-font-size: 17px !default;
$sidebar-shadow-width: 10px;
$sidebar-line-height: $sidebar-font-size !default;

$sidebar-background-color: #ECEFF1 !default;
$sidebar-border-color: #CFD8DC !default;
$sidebar-active-background-color: rgba(207, 216, 220, 0.7) !default;
$sidebar-shadow-color: rgba(100, 100, 100, 0.8) !default;
$sidebar-color: #536E7A !default;
$sidebar-active-color: #0273D4 !default;
$sidebar-icon-color: #AFBEC5 !default;

$sidebar-animation-duration: 0.75s;